.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: teal;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px; /* Added a margin to create some space between the rows */
}

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

input{
  display: block;
  padding: 10px;
  
}
#reset{
  display: block;
  width: 20dp;
}